{% extends "app/base.html" %}

{% block content %}
    <div class='body'>
    <div class="form-container">
        {% if form.errors %}
            <p class="error-message">Неправильно введено имя или пароль</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table class="form-table">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Войти" class="submit-button" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p class="register-link">Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь здесь</a>.</p>
  
    </div>
</div>
{% endblock %}

