{% extends "app/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<main>
  <section class="about">
    <h2>О нашей компании</h2>
    <p>Компания "TT-Трансфер" работает на рынке пассажирских перевозок c 2014 года. За это время мы зарекомендовали себя как надежный и ответственный партнер, предоставляющий высококачественные услуги клиентам.</p>
    <p>Мы гордимся своим профессиональным коллективом опытных водителей, которые обеспечивают безопасность и комфорт во время поездок. Наш автопарк состоит из новых комфортабельных автомобилей, регулярно проходящих техническое обслуживание.</p>
  </section>

  <section class="services">
    <h2>Наши услуги</h2>
    <ul>
      <li>Трансфер из/в аэропорт</li>
      <li>Трансфер с/на вокзал</li>
      <li>Корпоративный трансфер</li>
      <li>Индивидуальные поездки</li>
      <li>Встреча/проводы VIP-клиентов</li>
      <li>Заказ микроавтобуса</li>
    </ul>
  </section>

  <section class="features">
    <h2>Почему выбирают нас:</h2>
    <ul>
      <li>Опытные водители с многолетним стажем</li>
      <li>Новый комфортабельный автопарк</li>
      <li>Круглосуточная работа и быстрое реагирование</li>
      <li>Индивидуальный подход к каждому клиенту</li>
      <li>Разумные цены и гибкая система скидок</li>
    </ul>
  </section>

  <section class="testimonials">
    <h2>Отзывы наших клиентов</h2>
    <div class="testimonial">
      <p>"Пользуюсь услугами компании "TT-Трансфер" уже не первый год и всегда остаюсь довольна. Вежливые водители, комфортабельные автомобили и оперативность - вот что отличает эту компанию."</p>
      <span>- Ольга, Санкт-Петербург</span>
    </div>
    <div class="testimonial">
      <p>"Искал надежного перевозчика для деловых поездок и остановил свой выбор на "TT-Трансфер". Ни разу не подвели - всегда вовремя, очень профессионально. Рекомендую!"</p>
      <span>- Алексей, Москва</span>
    </div>
    <div class="testimonial">
      <p>"Впервые воспользовались услугами компании во время поездки в Сочи. Остались очень довольны комфортом и безопасностью перевозки. Теперь будем пользоваться только вашими услугами!"</p>
      <span>- Анна и Максим, Ростов-на-Дону</span>
    </div>
  </section>
</main>
{% else %}
<main>
    <section class="hero">
      <h1>Ваш надежный партнер в сфере трансфера</h1>
      <p>Мы предлагаем широкий спектр услуг по комфортабельному и безопасному трансферу в любую точку города. Наша команда профессионалов поможет вам с организацией любой поездки.</p>
      <a href="{% url 'login' %}" class="btn">Войдите чтобы оставить заявку</a>
    </section>
  
    <section class="about">
      <h2>О нашей компании</h2>
      <p>Компания "ТТ-Трансфер" работает на рынке пассажирских перевозок с 2014 года. За это время мы зарекомендовали себя как надежный и ответственный партнер, предоставляющий высококачественные услуги клиентам.</p>
      <p>Мы гордимся своим профессиональным коллективом опытных водителей, которые обеспечивают безопасность и комфорт во время поездок. Наш автопарк состоит из новых комфортабельных автомобилей, регулярно проходящих техническое обслуживание.</p>
      <a href="https://tttransfer.ru/" class="btn">Узнать больше</a>
    </section>
  
    <section class="services">
      <h2>Наши услуги</h2>
      <ul>
        <li>Трансфер из/в аэропорт</li>
        <li>Трансфер с/на вокзал</li>
        <li>Корпоративный трансфер</li>
        <li>Индивидуальные поездки</li>
        <li>Встреча/проводы VIP-клиентов</li>
        <li>Заказ микроавтобуса</li>
      </ul>
    </section>
  
    <section class="features">
      <h2>Почему выбирают нас:</h2>
      <ul>
        <li>Опытные водители с многолетним стажем</li>
        <li>Новый комфортабельный автопарк</li>
        <li>Круглосуточная работа и быстрое реагирование</li>
        <li>Индивидуальный подход к каждому клиенту</li>
        <li>Разумные цены и гибкая система скидок</li>
      </ul>
    </section>
  
    <section class="testimonials">
      <h2>Отзывы наших клиентов</h2>
      <div class="testimonial">
        <p>"Пользуюсь услугами компании "TT-Трансфер" уже не первый год и всегда остаюсь довольна. Вежливые водители, комфортабельные автомобили и оперативность - вот что отличает эту компанию."</p>
        <span>- Ольга, Санкт-Петербург</span>
      </div>
      <div class="testimonial">
        <p>"Искал надежного перевозчика для деловых поездок и остановил свой выбор на "TT-Трансфер". Ни разу не подвели - всегда вовремя, очень профессионально. Рекомендую!"</p>
        <span>- Алексей, Москва</span>
      </div>
      <div class="testimonial">
        <p>"Впервые воспользовались услугами компании во время поездки в Сочи. Остались очень довольны комфортом и безопасностью перевозки. Теперь будем пользоваться только вашими услугами!"</p>
        <span>- Анна и Максим, Ростов-на-Дону</span>
      </div>
    </section>
  </main>
{% endif %}
    
{% endblock %}